:root {
  --main-bg-color: rgb(0, 0, 0);
  --main-text-color: rgb(255, 255, 255);
  --side-text-color: rgb(135, 135, 135);
  --side2-text-color: rgb(75, 75, 75);
}

body {
  font-family: sans-serif;
  background-color: var(--main-bg-color);
}

ul {
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  margin: 5px;
  color: var(--side-text-color);
}

.submitbutton {
  background: none;
  border: none;
}

.submitbutton {
	color: var(--main-text-color);
  position: relative;
  text-decoration: none;
  padding: 3px 4px;
}

.submitbutton::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(252,69,69,1) 100%);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.submitbutton:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.pagelink {
	color: var(--main-text-color);
  position: relative;
  text-decoration: none;
  padding-bottom: 3px;
}

.pagelink::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(252,69,69,1) 100%);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.pagelink:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.page {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  min-width: 150px;
  max-width: 700px;
}

.liner {
  font-size: medium;
  display: flex;
  align-items: flex-start;
  text-align: left;
  width: 100%;

  &:after {
    content: '';
    flex-grow: 1;
    height: 1px;
    background: #333333;
    min-width: 20px;
    margin: auto;
    border-radius: 2px;
    margin-left: 5px;
  }
}